#title{
	font-family: 'Orbitron', sans-serif;
}

#posts{
	font-family: 'Roboto', sans-serif;
}
#user-info{
	font-family: 'Roboto', sans-serif;
}
#social{
	font-family: 'Roboto', sans-serif;
}
#cre{
    font-family:'Orbitron', sans-serif;
    text-align: ;
}

@media(max-width: 451px){
	#title{
		font-family: 'Orbitron', sans-serif;
		font-size: 30px;
	}
	
	#posts{
		font-family: 'Roboto', sans-serif;
	}
	#user-info{
		font-family: 'Roboto', sans-serif;
	}
	#social{
		font-family: 'Roboto', sans-serif;
	
}
@media(max-width:1024px) and (min-width:451px){
	#title{
    font-family: 'Baloo BhaiBaloo Bhai', cursive;
    font-size: 30px;
}

#posts{
	font-family: 'Baloo BhaiBaloo Bhai', cursive;
}
#user-info{
	font-family: 'Baloo BhaiBaloo Bhai', cursive;
}
#social{
	font-family: 'Baloo BhaiBaloo Bhai', cursive;
    }
    
}
    .author{
        font-family: 'Baloo BhaiBaloo Bhai', cursive;
        font-size:1.5em,
        
        
    }