#container {
	max-width: 800px;
	margin: 0 auto;
	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 100px max-content max-content;
	
	column-gap: 1em;
	row-gap: 0.5em;
}

#title {
    background-color:brown;
	grid-column: 1 / sam 1;
	grid-column-end: 3;
}

#menu {
    background-color: ;
	grid-column:  / 2;
    grid-row: 1;
}

#login {
    background-color: ;
	grid-column: 3 / span 1;
	grid-row: ;
}

#main {
    background-color: ;
	grid-column: 2 / span 1;
	grid-row: 2;
}

#profile {
    background-color: ;
	grid-column: 3 / span 1;
	grid-row: 2 / span 2;
}	

#social {
    background-color: ;
	grid-column: 1 / span 2;
	grid-row: 3;
}

