#container {
	width: 1060px;
	margin: 0 auto;
	background-color: coral;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	/*column-gap: 1em;*/
    grid-template-rows: 100px max-content max-content;
}

#title {
    background-color:azure;
	grid-column: 1 / span 3;
    grid-row: 1
}

#menu {
    background-color:beige;
	grid-column: 4 / span 1;
	grid-row: 2;
}

#login {
    background-color:peachpuff;
	grid-column: 4 / span 1;
	grid-row: 1;
}

#main {
    background-color: salmon;
	grid-column: 2 / span 2;
	grid-row: 2 / span 2;
}

#profile {
    background-color:cadetblue;
	grid-column: 1 / span 1;
    grid-row: 2 /span 2 ; 
}

#social {
    background-color: darkseagreen;
	grid-column: 4 / span 1;
    grid-row: 3
}
#footer {
    background-color: darkgoldenrod;
    grid-column:1 / span 5;
    grid-row:4;
}
img{
    width: 100%
}
/*https://coolors.co/000000-cf5c36-eee5e9-7c7c7c-efc88b