body{
    background: yellow;
    color: black;
    font-family: monospace;
    font-size: 1em
    
}

#container{
    width: 800PX;
    margin: 0 auto;

}

img{width: 100%};

.slide{
    margin-top: 1em;
}
p{
    font-size: 20px;
 }