body{
    background: #669db3ff;
    color:blanchedalmond ;
    font-family: monospace;
    font-size: 1.3em
    
}

#container{
    width: 800PX;
    margin: 0 auto;

}

img{width: 100%};

.slide{
    margin-top: 1em;
}
p{
    font-size: 25px;
 }